<div id='dashboard'>
  <h1>
    <%= t(:meeting_meter) %>
    <span> <%= link_to t(:dashboard_link, link: root_url), root_url %> </span>
  </h1>
  <div class='info'>
<%= t(
       :dashboard_info, 
       :participation_month_count => Participation.current_month.count, 
       :meeting_month_amount => Meeting.current_month.count,
       :meeting_duration => time_ago_in_words(Meeting.current_month.map{|m| m.duration}.sum.seconds.from_now),
       :average_meeting_duration => time_ago_in_words((Meeting.current_month.map{|m| m.duration}.sum/Meeting.current_month.count).seconds.from_now),
       :participants_month_duration => time_ago_in_words(Meeting.current_month.map{|p| p.all_time_spent_by_participants}.sum.seconds.from_now),
       :average_participants_month_duration => time_ago_in_words((Meeting.current_month.map{|p| p.all_time_spent_by_participants}.sum/Participation.current_month.count).seconds.from_now)
     ).html_safe %>
  </div>
</div>

<script>
function update() { location.reload();}

$(document).ready(function($){
  window.setInterval('update()', 2*1000);
});

</script>
