<h1><%= t(:meeting_meter) %></h1>

<div class="time_duration" id='time'>
</div>      

<div class='participants'>
  <h2> <%= t(:participants_title) %> </h2>
  <p class='amount' id='participants_amount'>  <%= @meeting.active_participants.count %></p>
</div>
<div class='actions'>
  <%= link_to plus_button, manage_participant_meeting_path(@meeting), remote: true, method: :post %>
  <%= link_to minus_button, manage_participant_meeting_path(@meeting), remote: true, method: :delete %>
</div>

<%= link_to button(t(:finish_meeting)), finish_meeting_path(@meeting), :method => :post %>

<script>
 show();
 startAt(<%= TimeDifference.between(@meeting.created_at, Time.zone.now).in_seconds.to_i * 1000 %>);
</script>
