<h1 class='big center'><%= t(:meeting_meter) %></h1>

<div id='start-page' >
    <%= link_to button(t(:meeting_statistics), :color => 'success'), dashboard_meetings_path %>
    <%= link_to button(t(:start_meeting)), new_meeting_path %>
</div>
