<h1><%= t(:meeting_meter) %></h1>
<h2><%= t(:meeting_statistics) %></h2>
<div class='col-lg-3 col-md-6'>
  <%= panel_information(t(:meeting_time), time_ago_in_words(@meeting.duration.seconds.from_now), {:color => 'primary', :icon => 'fa-clock-o'}) %>
</div>
<div class='col-lg-3 col-md-6'>
  <%= panel_information(t(:stakeholders), @meeting.participants.count, {:color => 'yellow', :icon => 'fa-group'}) %>
</div>
<div class='col-lg-3 col-md-6'>
  <%= panel_information(t(:estimated_total_cost), number_to_currency(@meeting.cost), {:icon => 'fa-money'}) %>
</div>

<div class='col-lg-3 col-md-6'>
  <%= panel_information(t(:spent_total_time), time_ago_in_words(@meeting.all_time_spent_by_participants.seconds.from_now), {:color => 'red', :icon => 'fa-signal'}) %>
</div>

<%= link_to button(t(:understood)), meetings_path %>
