/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap_sb_admin_base_v2
 */

body
  text-align: center

  h1
    font-size: 6em
  .time_duration
    font-size: 10em
  #start-page
    .btn-lg
      min-width: 40%
      min-height: 200px
      font-size: 3em
      margin: 3%
  #dashboard
    h1
      margin-bottom: 4%
      span
        font-size: 0.2em
        display: block
    div
      display: inline
    .info
      font-style: italic
      font-size: 3em
      .highlight
        font-weight: bold
      .amount-participants-month
        color: #286090
      .amount_metting
        color: #398439
      .time-meeting-month
        color: #d58512
      .average-time-meeting-month
        color: #46b8da
      .time-participants-month
        color: #d43f3a
      .average-time-participants-month
        color: #286090
  .participants
    h2
      display: inline
      font-size: 4em
    .amount
      display: inline
      font-size: 4em
